

/**** NAVBAR *****/

.apple {
  background-color: #850808;
}

.menu-links {
  color: #00a900;
}


/**** HOME PAGE *****/

.jumbotron {
  margin: 0;
  padding: 30px;
  /* background-image: url("https://cdn.wallpapersafari.com/61/31/9NCh6J.jpg"); */
  background-image: url("https://cdn.wallpapersafari.com/61/31/9NCh6J.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .card-img {
  width: 30%;
} */

#fishie-img {
  width: 20%;
}